[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"

[packages]
Pillow = "*"
Flask-WTF = "*"
Flask-Reuploaded = "*"
celery = "*"
Flask = "*"
python-dotenv = "*"
WTForms-Components = "*"
colour = "*"

[requires]
python_version = "3.9"
