[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
Pillow = "*"
Flask-WTF = "*"
Flask-Reuploaded = "*"
celery = "*"
python-dotenv = "*"
WTForms-Components = "*"
colour = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[packages.Flask]
extras = [ "async",]
