[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Pillow = "*"
Flask-WTF = "*"
numpy = "*"
Flask-Reuploaded = "*"
celery = "*"
Flask = "*"
python-dotenv = "*"
pytest = "*"
wtforms-components = "*"

[requires]
python_version = "3.9"
