<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A photo collage tool">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" media="screen,projection,tv" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}photo-collage-tool</title>

  </head>

  <body>
  
    <noscript>
      <div style="color:#FC0000;background-color:#FFFFFF;text-align:center">
        <p>Warning! It seems that JavaScript is not working in your browser. It could be that JavaScript is not supported, or JavaScript is disabled.</p>
        <p>Please enable JavaScript. Some of the features on this website will not function properly with out javascript enabled.</p>
      </div>
    </noscript>
    
    <!-- START header -->

    <header>

      <h1>Photo Collage Tool</h1>

    </header>

    <!-- END header -->

    <!-- START main -->

    <main>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

          {% for category, message in messages %}
            <div class="flash-messages {{ category }}">
              <p>{{ message }}</p>
              <span class="close">&#10006;</span>
            </div>
          {% endfor %}

        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
  
    </main>

    <!-- END main -->

    <!-- START footer -->


    <footer>

      <img class="wave-image" src="../static/images/wave.svg" alt="wave">

      <p>Created by <a href="https://brandonwallace.cc" target="_blank" rel="nonreferrer">Brandon Wallace</a> &copy; 2021</p>
      <p><a class="login__link" href="{{ url_for('main.terms_of_service') }}">Terms Of Service</a> and
      <a class="login__link" href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a></p>

    </footer>

    <!-- END footer -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>

</html>
