{# application/templates/main/index.html #}

{% extends "layout.html" %}

{% block title %}Photo Collage Tool{% endblock %}

{% block content %}

  <p>Upload a picture.</p>

  <form enctype="multipart/form-data" method="POST" action="">

    {{ form.csrf_token }}
    {{ form.image(class='browse', multiple='true', required='true') }}
    {{ form.submit(class='btn btn--solid') }}

  </form>

  {% if files %}

    {% for file in files %}

      <img src="uploads/images/{{ file }}" alt="{{ file }}">

    {% endfor %}

  {% endif %}

{% endblock %}
