{# application/templates/main/index.html #}

{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <p class="large">Upload Images</p>

  <form class="uploads" enctype="multipart/form-data" method="POST" action="">

    {{ form.csrf_token }}
    {{ form.images(class='browse', multiple='true', id='images') }}
    <p>Hold CTRL to select mutiple files.</p>
    <p>Up to 6 JPG or PNG images, maximum size 5MB.</p>

    <div class="center">

      <div class="spinner">
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
      </div>

    </div>

    {{ form.submit(class='btn btn--solid upload-btn disabled') }}

  </form>

{% endblock %}
