{# application/templates/main/workspace.html #}

{% extends "layout.html" %}

{% block title %}Photo Collage Tool{% endblock %}

{% block content %}

  <p>Uploaded images</p>

  {% if files %}
    <ul class="filenames">
      {% for file in files %}

        <li>{{ file }}</li>

      {% endfor %}
    </ul>
  {% endif %}

  <div class="thumbnails">

    {% if files %}
      {% for file in files %}

        <img class="thumbnail__images" src="static/images/uploads/thumbnail_{{ file | default('broken_image.png') }}" alt="PNG Image">

      {% endfor %}
    {% endif %}

  </div>

  <form action="{{ url_for('main.create_collage', images=files) }}" method="POST">
  
    {{ form.csrf_token }}

    <div class="options">

      <ul>

        <li>
          <label for="horizontal">
            <input type="radio" name="orientation" id="horizontal" value="horizontal" checked>
          </label>Horizontal Collage
        </li>

        <li>
          <label for="vertical">
            <input type="radio" name="orientation" id="vertical" value="vertical">
          </label>Vertical Collage
        </li>

        <li>
          <label for="background">
            <input type="color" name="background" id="background" value="transparent">
          </label>Background Color
        </li>

        <li>
          <label for="border">
            <input type="number" name="border" id="border" value="0" min="0" max="100">
          </label>Border Size
        </li>

      </ul>

    </div>

    <button class="btn generate" type="submit">GENERATE</button>

  </form>

{% endblock %}
