{# application/templates/main/workspace.html #}

{% extends "layout.html" %}

{% block title %}Workspace{% endblock %}

{% block content %}

  <p class="large">Uploaded images</p>

  <div class="thumbnails">

    {% if files %}
      {% for file in files %}

        <img class="thumbnail__images" src="static/images/uploads/{{ file }}" alt="PNG Image">

      {% endfor %}
    {% endif %}

  </div>

  <div id="status"></div>

  <form action="{{ url_for('main.create_collage', images=files) }}" method="POST">
  
    {{ form.csrf_token }}

    <div class="options">

      <ul>

        {% for subfield in form.orientation %}
          <li>
            <span>{{ subfield }}</span>
            <span>{{ subfield.label }}</span>
          </li>
        {% endfor %}

        <li>
          {{ form.background(value="#000001") }}
          {{ form.background.label }}
        </li>
        <li>
          {{ form.border(value="0") }}
          {{ form.border.label }}
        </li>

      </ul>

      {{ form.submit(class_='btn generate-btn') }}

    </div>

  </form>

{% endblock %}
